<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code-Chat</title>
    <link rel="icon" href="/images/1-o-modified.png" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        body {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .prem {
            padding: 5px;
            background-color: aqua;
            text-align: center;
            width: 500px;
            height: 500px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary  ">
        <div class="container-fluid mt-0">
            <strong><a class="navbar-brand" href="#">CodeChat</a></strong>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <strong><a class="nav-link active" aria-current="page" href="/">Home</a></strong>
                    </li>
                    <li class="nav-item">
                        <strong><a class="nav-link active" href="/inbox">Inbox</a></strong>
                    </li>
                    <% var main_data=user %>
          <% var Currentuser=JSON.parse(localStorage.getItem(user)) %>
          <% if(Currentuser==null) { %>
          <li class="nav-item">
              <a class="nav-link active" href="/login"><strong>Login</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/signup"><strong>Signup</strong></a>
          </li>
          <% } %>
          <% if(Currentuser!=null) { %>
            <li class="nav-item">
                <strong><a class="nav-link active" href="/userprofile"><%= Currentuser.name %></a></strong>
            </li>
            <li class="nav-item">
              <strong><a class="nav-link active" href="/logout">logout</a></strong>
            </li>
          <% } %>

                </ul>

            </div>
        </div>
    </nav>
        <div class="mt-3 mx-3">
            <center>
            <div class="card" style="width: 80%">
                <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5><span>(author: <%=post.authorname %>)</span>
                    <p class="card-text">
                        <%= post.content %>
                    </p>
                    
                    <% if(Currentuser!=null) { %>
                    <a href="/comment/<%= post._id %>" class="btn btn-primary">Comment</a>
                    <% } %>
                    <% if(Currentuser==null) { %>
                        <a href="/login" class="btn btn-primary">Comment</a>
                    <% } %>

                    
                    
                </div>
            </div>
            </center>
    </div>
    <div style="margin-left: 20px;margin-top: 20px;">All Comments</div>
    <% for(var i=post.comments.length-1;i>=0;i--){ %>
    <div class="mt-3 mx-3">
        <div class="card" style="width:80%;">
            <div class="card-body">
                <p><%= post.comments[i] %></p>
                </div>
               
                </div>
    </div>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>
